h1 {
  text-align: center;
  color: #b30086;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  margin: 0 auto;
  border: 5px dotted pink;
  padding: 5px;
  width: 80%;

}

h2 {
  text-align: left
  color: #1a75ff;
  font-weight: bold;
  font-family: monospace;
  font-size: 22px;
}

.entry {
  font-family: monospace;
  color: #009900;
  font-size: 16px;
}

h3.liner {
  font-family: monospace;
  background-color: #865a2c;
  color: #ffffff;
  text-align: center;
}

.column {
  margin: 0 auto;
  border: 5px dotted pink;
  padding: 2px;
  width: 40%;
  display:block;
  text-align: left;

}

.sidebar {
  width: 0px;
  float: left;
  background-color: white;
  margin-right: 4px;
  padding: 2px;
  text-align: left;
  margin-left: 1px

}

.img {
  text-align: center;
  display:block;
  padding: 2px;
  margin: 0 auto;

}

span.odd {
  font-weight: bolder;

}
